In [1]:
import pandas as pd

In [24]:
df = pd.read_csv("synthetic_budget_data.csv")
print(df.head())

  UserID  Salary  Fixed_Rent    EMI  Groceries  Subscriptions  UPI_Spent  \
0   U001   76785       22619  11184       7879         2638.0      13233
1   U002   38666       11007   3701       3401         1082.0       5150
2   U003   38961       12952   4376       3640            NaN       8641
3   U004   40944       12432   3070       3346         2924.0       9441
4   U005  121092       34592  13396      12007            NaN      26133

   CreditCard_Spent  Utilities  Investment_Percentage Month
0             15721       4855                     24   Oct
1              4794       6189                     23   Jul
2              8879       3946                     30   Apr
3              4171       4737                     12   Sep
4             28318       4682                     24   Feb

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   UserID                 1000 non-null   object
 1   Salary                 1000 non-null   int64
 2   Fixed_Rent             1000 non-null   int64
 3   EMI                    1000 non-null   int64
 4   Groceries              1000 non-null   int64
 5   Subscriptions          830 non-null    float64
 6   UPI_Spent              1000 non-null   int64
 7   CreditCard_Spent       1000 non-null   int64
 8   Utilities              1000 non-null   int64
 9   Investment_Percentage  1000 non-null   int64
 10  Month                  1000 non-null   object
dtypes: float64(1), int64(8), object(2)
memory usage: 86.1+ KB
None

In [26]:
print(df.isnull().sum())

UserID                     0
Salary                     0
Fixed_Rent                 0
EMI                        0
Groceries                  0
Subscriptions            170
UPI_Spent                  0
CreditCard_Spent           0
Utilities                  0
Investment_Percentage      0
Month                      0
dtype: int64